* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.first {
  margin: 3rem 0;
}
.fa-2x {
  font-size: 1.3rem;
}
input[type="search"] {
  background-color: rgb(239, 239, 239);
  width: 123%;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
h4 {
  color: rgb(38, 38, 38);
}
h2 {
  font-size: 1.3rem;
}
.all {
  height: 50vh;
  object-fit: cover;
  object-position: top;
}
.prof {
  height: 90px;
  border-radius: 50%;
}
.wf {
  color: rgb(38, 38, 38);
}
.insta {
  width: 112px;
}
.mt-8 {
  margin: 8rem 0;
}
.w-30 {
  width: 90%;
  top: -30px;
  left: 17px;
  animation: slideDown 1s ease-in-out forwards;
}
.pull {
  cursor: pointer;
  background-color: rgb(245, 230, 230);
  padding: 2rem;
  opacity: 0.3;
  border-radius: 50%;
}

@keyframes slideDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(40px);
  }
}

@media (min-width: 768px) {
  .all {
    height: auto;
  }
  .w-30 {
    left: 50px;
    right: 50px;
    transform: translateX(-50px);
    width: 66%;
  }
  .first {
    margin: 5rem 0;
  }
  .insta {
    width: 9rem;
  }
  .fa-2x {
    font-size: 2rem;
  }
  .status {
    overflow-x: hidden;
  }
  .prof {
    height: 218px;
    width: 218px;
    border-radius: 50%;
    min-height: 59px;
  }
  .large {
    margin-left: 1.5rem;
  }
  .wft {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .w-30 {
    width: 37%;
  }
  .fa-1x {
    font-size: 1.3rem;
    color: rgb(142, 142, 142);
  }
  input[type="search"] {
    font-size: 1.2rem;
    padding-inline: 3rem;
  }
  .insta {
    width: 12rem;
  }
  .fa-2x {
    font-size: 2.5rem;
    color: rgb(38, 38, 38);
  }
  .large {
    margin-left: 7rem;
  }
  .wft {
    font-size: 3rem;
  }
  .wf {
    color: rgb(38, 38, 38);
    font-size: 2rem;
  }
}
